@{
    ViewData["Title"] = "Admin";
}

    <div class="jumbotron aboutbg mt-4">
        <p class="text-light title2">About</p>
        <br />
        <p class="text-light abouttext">SportsPro Technical Support constantly strives to provide the highest level of technical support for all products in the SportsPro family.</p>
        <p class="text-light abouttext">Website Created By Team 4: Antony Xu, Andy Zhu, Guillermo Mejia and Matt Biesbroek</p>
    </div>